/* Container */
.container{
    width: 100%;
    padding: 0%;
}
.py{
    margin: 1%;
}
/* Card Section */
.card {
    width: 15rem;
    height: 38rem;
    border: none;
    transform: 0.1s ease;
}
.card:hover{
    box-shadow: 0 5px 5px 0 var(--bs-black);
    border-color: none;
}
.row {
    --bs-gutter-x: 0.5rem;
}
.card img{
    width: 100%;
    height: 50%;
}
/* Card Body Started */
.card-body{
    width: 100%;
    height: 60%;
}

/* Labels Started */
.lables{
    display: flex;
    flex-direction: row;
    width: 10px;
    /* border: 1px solid black; */
    height: auto;
    gap: 17px;
    padding: 0% 0px 0 7%;
}
.label-7, .label-88, .label-8, .label-9{
    position: relative;
    min-width: 2rem;
    height: 2rem;
    margin-bottom: 0;
    padding-top: .0625rem;
    padding-right: .375rem;
    padding-left: .375rem;
    transition: color .2s cubic-bezier(0.38, 0.37, 0.72, 0.35), border-color .2s ease-in-out;
    border: 1px solid #e3e9ef;
    border-radius: .25rem;
    color: #4b566b;
    font-size: .75rem;
    font-weight: normal;
    text-align: center;
    line-height: 1.75rem;
    cursor: pointer;
}
/* Button Groups */
.wrapper{
    visibility: hidden;
    transition: visibility 0.1s ease;
}
.card:hover .wrapper{
    visibility: visible;
    -ms-zoom: 1.03;
    align-items: center;
} 
.button .add-cart{
    margin-top: 3%;
    border-radius: 6px;
    width: 100%;
    background-color: var(--bs-blue);
}
a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
}
.button  .link {
    text-decoration: none;
    display: none;
}
.button p{
    text-align: center;
    font-size: 16px;
    /* padding-top: 0%; */
    margin-top: 2%;
}